label {
	img{
		width: 120px;
		height: 70px;

		&.Hidden {
			display: none;
		}
	}
}

input[type="radio"]{
	display: none;
	
	&:checked + label {
		img {
			&.Hidden {
				display: block;
				position: absolute;
				width: 600px;
				height: 400px;
			}	
		}
	}
}