body {
	background-color: rgb(88, 88, 88);
	
	a {
		text-decoration: none;
		color: rgb(254, 241, 179);
	}

	div#ticketDiv{				
		label#ticketLabel{
			color: rgb(172, 185, 169);
			font-size: 30px;
		}

		input{
			@extend	label#ticketLabel;		
			border: none;
			background-color: transparent;
		}
	}

	dl {
		line-height: 40px;
		font-size: 20px;

		dt{
			float: left;
			width: 180px;
			color: white;
			font-style: oblique;
			font-weight: 600;
		}

		dd{
			&#ticketOwnerName{
				color: rgb(254, 241, 179);
				
				span#active{
					color: rgb(255, 0, 0);
					margin-left: 140px;
				}

				div#nameCustomBullet{
					border: 5px solid rgb(112, 179, 122);
					float: left;
					margin-top: 15px;
					margin-right: 5px;
					border-radius: 20px;
				} 
			}

			&#responceTime,
			&#lastAction{
				color: rgb(170, 170, 170);
			}

			&#status{
				color: rgb(232, 122, 82);
			}

			a#publicLink{
				margin-left: 140px;
			}
		}	
	}
}