body, table, thead, tfoot, th, td, tr, a {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 420px;
}

td {
    border: 1px solid black;
    padding: 1px;
}

tfoot {
    background-color: rgb(135, 205, 234);
}

textarea {
    height: 75px;
}

input[type~=text], input[type~=radio],
input[type~=date],
textarea, label, select, span {
    position: relative;
    float: left;
}

input[type~=text], input[type~=date],
textarea {
    width: 250px;
}

.TableHeader {
    width: 120px;
}

#city{
    width: 180px;
}

#state{
    width: 35px;
}

#zipCode {
    width: 35px;
    margin: 1px;
}

#areaCode {
    width: 50px;
    margin: 1px;
}

#phoneNumber {
    width: 140px;
    margin: 1px;
}